@font-face {
  font-family: "GEB";
  src: url(../fonts/Gellix-ExtraBold.ttf);
}
@font-face {
  font-family: "GM";
  src: url(../fonts/Gellix-Medium.ttf);
}
@font-face {
  font-family: "GR";
  src: url(../fonts/Gellix-Regular.ttf);
}
@font-face {
  font-family: "circular";
  src: url(../fonts/circular.ttf);
}
@font-face {
  font-family: "HL";
  src: url(../fonts/HelveticaNeueCyr-Light.ttf);
}
@font-face {
  font-family: "HM";
  src: url(../fonts/HelveticaNeueCyr-Medium.ttf);
}
@font-face {
  font-family: "HR";
  src: url(../fonts/HelveticaNeueCyr-Roman.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.layer {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: hsla(0, 0%, 0%, 0.75);
  transition: all;
}

@keyframes animOpen {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

@keyframes animClose {
  0% {
    opacity: 100;
  }

  100% {
    opacity: 0;
  }
}

.panel {
  position: absolute;
  z-index: 20;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  gap: 0px;
  opacity: 0px;
  background: hsla(0, 0%, 100%, 1);
  box-shadow: 0px 0px 2px 1px hsla(0, 0%, 73%, 1);
  padding: 32px;
}

.regandauto {
  font-family: HR;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  text-align: left;
  cursor: default;
}

#closePanel {
  position: absolute;
  top: 32px;
  right: 32px;
}

.choice {
  margin-top: 40px;
  display: flex;
  gap: 28px;
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 1px solid hsla(0, 0%, 82%, 0.65);
  text-decoration: none;
}

.come {
  font-family: HM;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  text-align: left;
  color: hsla(0, 0%, 0%, 1);
  transition: all 0.5s;
  cursor: pointer;
  text-decoration: none;
}

.come:hover {
  color: hsla(0, 0%, 0%, 1);
  transform: scale(1.05);
}

.create {
  text-decoration: none;
  font-family: HL;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  text-align: left;
  color: hsla(0, 0%, 0%, 0.65);
  transition: all 0.5s;
  cursor: pointer;
}

.create:hover {
  color: hsla(0, 0%, 0%, 1);
  transform: scale(1.05);
}

#formInput, #formAccount {
  margin-top: 34px;
}

#formAccount {
  display: none;
}

#labelInput {
  font-family: HM;
  font-size: 14px;
  font-weight: 300;
  line-height: 19.6px;
  text-align: left;
}

#input, #password, #password1, #password2 {
  margin-top: 8px;
  margin-bottom: 16px;
  width: 100%;
  height: 48px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: hsla(0, 0%, 99%, 1);
  border: 1px solid hsla(0, 0%, 91%, 1);
  box-shadow: 0px 16px 24px 0px hsla(240, 17%, 24%, 0.08);
  box-shadow: 0px 12px 12px 0px hsla(240, 17%, 24%, 0.08);
}

.password {
  font-family: HM;
  font-size: 14px;
  font-weight: 300;
  line-height: 16.8px;
  text-align: left;
  color: hsla(0, 0%, 0%, 1);
}

.submit {
  margin-top: 28px;
  font-family: HM;
  font-size: 16px;
  font-weight: 300;
  line-height: 22.4px;
  text-align: left;
  color: hsla(0, 0%, 100%, 1);
  padding: 12.5px 167px;
  background: hsla(0, 0%, 0%, 1);
  box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
  box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
  transition: all 0.5s;
}

.submit:hover {
  transform: scale(1.05);
}

.or {
  font-family: HM;
  font-size: 16px;
  font-weight: 300;
  line-height: 22.4px;
  text-align: left;
  display: flex;
  justify-content: center;
  margin: 16px;
  cursor: default;
}

.social {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.google,
.vk {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background: hsla(0, 0%, 100%, 1);
  box-shadow: 0px 4px 20px 0px hsla(0, 0%, 0%, 0.12);
  height: 48px;
  transition: all 0.5s;
  cursor: pointer;
}

.google:hover,
.vk:hover {
  transform: scale(1.05);
}

.google > img,
.vk > img {
  position: absolute;
  left: 16px;
}

.google > div,
.vk > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: HM;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  text-align: left;
  color: hsla(0, 0%, 0%, 0.55);
}

@media screen and (max-width: 560px) {
  .panel {
    position: absolute;
    z-index: 20;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    gap: 0px;
    opacity: 0px;
    background: hsla(0, 0%, 100%, 1);
    box-shadow: 0px 0px 2px 1px hsla(0, 0%, 73%, 1);
    padding: 16px;
  }

  .regandauto {
    font-family: HR;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    cursor: default;
  }

  #closePanel {
    position: absolute;
    top: 32px;
    right: 32px;
  }

  .choice {
    margin-top: 40px;
    display: flex;
    gap: 28px;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid hsla(0, 0%, 82%, 0.65);
  }

  .come {
    font-family: HM;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    color: hsla(0, 0%, 0%, 1);
    transition: all 0.5s;
    cursor: pointer;
  }

  .come:hover {
    color: hsla(0, 0%, 0%, 1);
    transform: scale(1.05);
  }

  .create {
    font-family: HL;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    color: hsla(0, 0%, 0%, 0.65);
    transition: all 0.5s;
    cursor: pointer;
  }

  .create:hover {
    color: hsla(0, 0%, 0%, 1);
    transform: scale(1.05);
  }

  #formInput {
    margin-top: 34px;
  }

  #labelInput {
    font-family: HM;
    font-size: 12px;
    font-weight: 300;
    line-height: 19.6px;
    text-align: left;
  }

  #input, #password, #password1, #password2 {
    margin-top: 8px;
    margin-bottom: 16px;
    width: 100%;
    height: 48px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: hsla(0, 0%, 99%, 1);
    border: 1px solid hsla(0, 0%, 91%, 1);
    box-shadow: 0px 16px 24px 0px hsla(240, 17%, 24%, 0.08);
    box-shadow: 0px 12px 12px 0px hsla(240, 17%, 24%, 0.08);
  }

  .password {
    font-family: HM;
    font-size: 12px;
    font-weight: 300;
    line-height: 16.8px;
    text-align: left;
    color: hsla(0, 0%, 0%, 1);
  }

  .submit {
    margin-top: 28px;
    font-family: HM;
    font-size: 16px;
    font-weight: 300;
    line-height: 22.4px;
    text-align: left;
    color: hsla(0, 0%, 100%, 1);
    padding: 12.5px 167px;
    background: hsla(0, 0%, 0%, 1);
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
    transition: all 0.5s;
  }

  .submit:hover {
    transform: scale(1.05);
  }

  .or {
    font-family: HM;
    font-size: 12px;
    font-weight: 300;
    line-height: 22.4px;
    text-align: left;
    display: flex;
    justify-content: center;
    margin: 16px;
    cursor: default;
  }

  .social {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .google,
  .vk {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    background: hsla(0, 0%, 100%, 1);
    box-shadow: 0px 4px 20px 0px hsla(0, 0%, 0%, 0.12);
    height: 48px;
    transition: all 0.5s;
    cursor: pointer;
  }

  .google:hover,
  .vk:hover {
    transform: scale(1.05);
  }

  .google > img,
  .vk > img {
    position: absolute;
    left: 16px;
  }

  .google > div,
  .vk > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: HM;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: left;
    color: hsla(0, 0%, 0%, 0.55);
  }
}

@media screen and (max-width: 436px) {
  .panel {
    position: absolute;
    z-index: 20;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    gap: 0px;
    opacity: 0px;
    background: hsla(0, 0%, 100%, 1);
    box-shadow: 0px 0px 2px 1px hsla(0, 0%, 73%, 1);
    padding: 8px;
  }

  .regandauto {
    font-family: HR;
    font-size: 12px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    cursor: default;
  }

  #closePanel {
    position: absolute;
    top: 32px;
    right: 32px;
  }

  .choice {
    margin-top: 40px;
    display: flex;
    gap: 28px;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid hsla(0, 0%, 82%, 0.65);
  }

  .come {
    font-family: HM;
    font-size: 12px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    color: hsla(0, 0%, 0%, 1);
    transition: all 0.5s;
    cursor: pointer;
  }

  .come:hover {
    color: hsla(0, 0%, 0%, 1);
    transform: scale(1.05);
  }

  .create {
    font-family: HL;
    font-size: 12px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    color: hsla(0, 0%, 0%, 0.65);
    transition: all 0.5s;
    cursor: pointer;
  }

  .create:hover {
    color: hsla(0, 0%, 0%, 1);
    transform: scale(1.05);
  }

  #formInput {
    margin-top: 34px;
  }

  #labelInput {
    font-family: HM;
    font-size: 8px;
    font-weight: 300;
    line-height: 19.6px;
    text-align: left;
  }

  #input, #password, #password1, #password2 {
    margin-top: 8px;
    margin-bottom: 16px;
    width: 100%;
    height: 48px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: hsla(0, 0%, 99%, 1);
    border: 1px solid hsla(0, 0%, 91%, 1);
    box-shadow: 0px 16px 24px 0px hsla(240, 17%, 24%, 0.08);
    box-shadow: 0px 12px 12px 0px hsla(240, 17%, 24%, 0.08);
  }

  .password {
    font-family: HM;
    font-size: 12px;
    font-weight: 300;
    line-height: 16.8px;
    text-align: left;
    color: hsla(0, 0%, 0%, 1);
  }

  .submit {
    margin-top: 28px;
    font-family: HM;
    font-size: 16px;
    font-weight: 300;
    line-height: 22.4px;
    text-align: left;
    color: hsla(0, 0%, 100%, 1);
    padding: 12.5px 100px;
    background: hsla(0, 0%, 0%, 1);
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
    transition: all 0.5s;
  }

  .submit:hover {
    transform: scale(1.05);
  }

  .or {
    font-family: HM;
    font-size: 12px;
    font-weight: 300;
    line-height: 22.4px;
    text-align: left;
    display: flex;
    justify-content: center;
    margin: 16px;
    cursor: default;
  }

  .social {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .google,
  .vk {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    background: hsla(0, 0%, 100%, 1);
    box-shadow: 0px 4px 20px 0px hsla(0, 0%, 0%, 0.12);
    height: 48px;
    transition: all 0.5s;
    cursor: pointer;
  }

  .google:hover,
  .vk:hover {
    transform: scale(1.05);
  }

  .google > img,
  .vk > img {
    position: absolute;
    left: 16px;
  }

  .google > div,
  .vk > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: HM;
    font-size: 12px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: left;
    color: hsla(0, 0%, 0%, 0.55);
  }
}

@media screen and (max-width: 270px) {
  .panel {
    position: absolute;
    z-index: 20;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    gap: 0px;
    opacity: 0px;
    background: hsla(0, 0%, 100%, 1);
    box-shadow: 0px 0px 2px 1px hsla(0, 0%, 73%, 1);
    padding: 8px;
  }

  .regandauto {
    font-family: HR;
    font-size: 12px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    cursor: default;
  }

  #closePanel {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .choice {
    margin-top: 40px;
    display: flex;
    gap: 28px;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid hsla(0, 0%, 82%, 0.65);
  }

  .come {
    font-family: HM;
    font-size: 12px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    color: hsla(0, 0%, 0%, 1);
    transition: all 0.5s;
    cursor: pointer;
  }

  .come:hover {
    color: hsla(0, 0%, 0%, 1);
    transform: scale(1.05);
  }

  .create {
    font-family: HL;
    font-size: 12px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    color: hsla(0, 0%, 0%, 0.65);
    transition: all 0.5s;
    cursor: pointer;
  }

  .create:hover {
    color: hsla(0, 0%, 0%, 1);
    transform: scale(1.05);
  }

  #formInput {
    margin-top: 34px;
  }

  #labelInput {
    font-family: HM;
    font-size: 8px;
    font-weight: 300;
    line-height: 19.6px;
    text-align: left;
  }

  #input, #password, #password1, #password2 {
    margin-top: 8px;
    margin-bottom: 16px;
    width: 100%;
    height: 48px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: hsla(0, 0%, 99%, 1);
    border: 1px solid hsla(0, 0%, 91%, 1);
    box-shadow: 0px 16px 24px 0px hsla(240, 17%, 24%, 0.08);
    box-shadow: 0px 12px 12px 0px hsla(240, 17%, 24%, 0.08);
  }

  .password {
    font-family: HM;
    font-size: 12px;
    font-weight: 300;
    line-height: 16.8px;
    text-align: left;
    color: hsla(0, 0%, 0%, 1);
  }

  .submit {
    margin-top: 28px;
    font-family: HM;
    font-size: 16px;
    font-weight: 300;
    line-height: 22.4px;
    text-align: left;
    color: hsla(0, 0%, 100%, 1);
    padding: 12.5px 50px;
    background: hsla(0, 0%, 0%, 1);
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
    transition: all 0.5s;
  }

  .submit:hover {
    transform: scale(1.05);
  }

  .or {
    font-family: HM;
    font-size: 12px;
    font-weight: 300;
    line-height: 22.4px;
    text-align: left;
    display: flex;
    justify-content: center;
    margin: 16px;
    cursor: default;
  }

  .social {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .google,
  .vk {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: hsla(0, 0%, 100%, 1);
    box-shadow: 0px 4px 20px 0px hsla(0, 0%, 0%, 0.12);
    height: 48px;
    transition: all 0.5s;
    cursor: pointer;
  }

  .google:hover,
  .vk:hover {
    transform: scale(1.05);
  }

  .google > img,
  .vk > img {
    position: relative;
    left: 0px;
  }

  .google > div,
  .vk > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: HM;
    font-size: 12px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: left;
    color: hsla(0, 0%, 0%, 0.55);
  }
}

@media screen and (max-width: 270px) {
  .panel {
    position: absolute;
    z-index: 20;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    gap: 0px;
    opacity: 0px;
    background: hsla(0, 0%, 100%, 1);
    box-shadow: 0px 0px 2px 1px hsla(0, 0%, 73%, 1);
    padding: 8px;
  }

  .regandauto {
    font-family: HR;
    font-size: 12px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    cursor: default;
  }

  #closePanel {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .choice {
    margin-top: 40px;
    display: flex;
    gap: 28px;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid hsla(0, 0%, 82%, 0.65);
  }

  .come {
    font-family: HM;
    font-size: 12px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    color: hsla(0, 0%, 0%, 1);
    transition: all 0.5s;
    cursor: pointer;
  }

  .come:hover {
    color: hsla(0, 0%, 0%, 1);
    transform: scale(1.05);
  }

  .create {
    font-family: HL;
    font-size: 12px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    color: hsla(0, 0%, 0%, 0.65);
    transition: all 0.5s;
    cursor: pointer;
  }

  .create:hover {
    color: hsla(0, 0%, 0%, 1);
    transform: scale(1.05);
  }

  #formInput {
    margin-top: 34px;
  }

  #labelInput {
    font-family: HM;
    font-size: 8px;
    font-weight: 300;
    line-height: 19.6px;
    text-align: left;
  }

  #input, #password, #password1, #password2 {
    margin-top: 8px;
    margin-bottom: 16px;
    width: 100%;
    height: 48px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: hsla(0, 0%, 99%, 1);
    border: 1px solid hsla(0, 0%, 91%, 1);
    box-shadow: 0px 16px 24px 0px hsla(240, 17%, 24%, 0.08);
    box-shadow: 0px 12px 12px 0px hsla(240, 17%, 24%, 0.08);
  }

  .password {
    font-family: HM;
    font-size: 12px;
    font-weight: 300;
    line-height: 16.8px;
    text-align: left;
    color: hsla(0, 0%, 0%, 1);
  }

  .submit {
    margin-top: 28px;
    font-family: HM;
    font-size: 16px;
    font-weight: 300;
    line-height: 22.4px;
    text-align: left;
    color: hsla(0, 0%, 100%, 1);
    padding: 12.5px 20px;
    background: hsla(0, 0%, 0%, 1);
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
    transition: all 0.5s;
  }

  .submit:hover {
    transform: scale(1.05);
  }

  .or {
    font-family: HM;
    font-size: 12px;
    font-weight: 300;
    line-height: 22.4px;
    text-align: left;
    display: flex;
    justify-content: center;
    margin: 16px;
    cursor: default;
  }

  .social {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .google,
  .vk {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: hsla(0, 0%, 100%, 1);
    box-shadow: 0px 4px 20px 0px hsla(0, 0%, 0%, 0.12);
    height: 48px;
    transition: all 0.5s;
    cursor: pointer;
  }

  .google:hover,
  .vk:hover {
    transform: scale(1.05);
  }

  .google > img,
  .vk > img {
    position: relative;
    left: 0px;
    width: 15%;
  }

  .google > div,
  .vk > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: HM;
    font-size: 12px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: left;
    color: hsla(0, 0%, 0%, 0.55);
  }
}