{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>корзина</title>
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}" />
    <link rel="stylesheet" href="{% static 'css/burger.css' %}" />
    <link rel="stylesheet" href="{% static 'css/cards.css' %}">
{% endblock %}

{% block content %}
    <style>
        @media screen and (min-width: 520px) {
            .card_display {display: flex;}
            .card_info p {margin-left: 10px;}
        }
        @media screen and (min-width: 1200px) {
            .card_info {width: 200px;}
            .card_bg {height: auto}
        }
    </style>
    <main>
      <div class="container2 display_flexs">
        <div class="card1">
          <div class="card_top">
            <div class="card_text_top">
              <h1>корзина</h1>
            </div>
          </div>
          <div class="card_display">
            <div class="card_bg">
                {% for item in baskets %}
                <div class="card_center">
                  <div class="card_items">
                    <div class="card_img">
                      <img src="{{ item.product.first_image.url }}" alt="" 
                      onclick="window.location.href='{% url 'product_detail' item.product.pk %}'"
                      style="cursor: pointer;"/>
                    </div>
                    <div class="card_info">
                      <h1 onclick="window.location.href='{% url 'product_detail' item.product.pk %}'"
                      style="cursor: pointer;">
                          {{ item.product.brand }}
                      </h1>
                      <p onclick="window.location.href='{% url 'product_detail' item.product.pk %}'"
                      style="cursor: pointer;">
                          {{ item.product.name }}
                      </p>
                    </div>
                    <div class="card_rize">
                      <p>размер:</p>
                      <select name="" id="">
                          {% for size in item.product.sizes.all %}  
                            <option value="">{{ size }} US</option>
                          {% endfor %}
                      </select>
                    </div>
                    <div class="card_price">
                      <h3>{{ item.product.price }}$</h3>
                    </div>
                    <div class="card_delete">
                      <img src="{% static './svg/delete.svg' %}" alt="" 
                       onclick="window.location.href='{% url 'basketremove' item.pk %}'"
                      style="cursor: pointer;"/>
                    </div>
                  </div>
                </div>
                {% endfor %}
              <div class="card_bottom_result">
                <p>итого:</p>
                <p>{{ total_sum }}$</p>
              </div>
            </div>
            
            <div class="card_2">
              <div class="card_item_input">
                <label for="">
                  <p>фио</p>
                  <input
                    type="text"
                    name=""
                    id=""
                    value="Горин Андрей Викторович"
                  />
                </label>
                <label for="">
                  <p>телефон</p>
                  <input type="phone" name="" id="" value="+7 993 778 88 73" />
                </label>
                <label for="">
                  <p>почта</p>
                  <input type="email" name="" id="" value="telnov@gmail.com" />
                </label>
                <label for="">
                  <p>адрес доставки</p>
                  <input
                    type="email"
                    name=""
                    id=""
                    value="Большая серпуховская  12"
                  />
                </label>
                <label for="">
                  <p>комментарии к заказу</p>
                  <textarea name="" id="textarea_comment"></textarea>
                </label>
              </div>
              <div class="card_item_button">
                <p>бесплатная доставка по москве</p>
                <input type="submit" class="input2" value="перейти к оплате" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <section class="section2">
      <div class="container2">
        <h2 style="margin-bottom: 45px" class="h2h2">
          Вам так же может понравиться
        </h2>
        <div class="card">
            {% for rndm_product in random_products %}
                <div class="card-item">
                    <div class="card-wrapper">
                      <div class="card-img">
                        <img src="{{ rndm_product.first_image.url }}" alt="nike"
                        onclick="window.location.href='{% url 'product_detail' rndm_product.pk %}'"
                        style="cursor: pointer;">
                      </div>
                      <div class="card-modal">
                        <div class="favorite-button">
                          <button>
                            <img src="{% static './svg/Love.svg' %}" alt="love" 
                                 onclick="window.location.href='{% url 'wishlistadd' rndm_product.pk %}'"
                                 style="cursor: pointer;"/>
                          </button>
                        </div>
                        <div class="card-text-wrapper">
                          <div class="card-text">
                            <div class="card-title"
                            onclick="window.location.href='{% url 'product_detail' rndm_product.pk %}'"
                            style="cursor: pointer;">
                                {{ rndm_product.brand }}
                            </div>
                            <div class="card-description"
                            onclick="window.location.href='{% url 'product_detail' rndm_product.pk %}'"
                            style="cursor: pointer;">
                                {{ rndm_product.name }}
                            </div>
                          </div>
                          <div class="card-price">
                            <span>${{ rndm_product.price }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            {% endfor %}
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="footer">
          <div class="footer_item">
            <p>информация</p>
            <a href="">условия оплаты</a>
            <a href="">условия доставки</a>
            <a href="">политика</a>
          </div>
          <div class="footer_item">
            <p>помощь</p>
            <a href="">вопрос-ответ</a>
          </div>
          <div class="footer_item">
            <p>подписаться на рассылку</p>
            <input type="text" placeholder="e-mail" />
          </div>
          <div class="footer_item" style="margin-right: 20px">
            <p>контакты</p>
            <a href="">telegram</a>
            <a href="">whatsapp</a>
          </div>
        </div>
        <div class="logo2">
          <a href="">Knitted*</a>
        </div>
      </div>
    </footer>
{% endblock %}
