<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/faq.css">
    <link rel="stylesheet" href="./css/burger.css" />
</head>
<body>
    <div class="menu-mobile">
        <div class="wrapper">
          <nav>
            <div class="item">
              <a href="#">
                  <img src="./svg/Home_light.svg" alt="home" />
                  <p>главная</p>
              </a>
            </div>
            <div class="item">
              <a href="#">
                  <img src="./svg/Frame 232.svg" alt="seacrh">
                  <p>поиск</p>
              </a>
            </div>
            <div class="item bag">
              <a href="#">
                  <img src="./svg/Bag_alt_light.svg" alt="bat">
                  <p>корзина</p>
              </a>
            </div>
            <div class="item">
              <a href="#">
                  <img src="./svg/Favorite_light.svg" alt="favirite">
                  <p>избранное</p>
              </a>
            </div>
            <div class="item">
              <a href="#">
                  <img src="./svg/User_alt_light.svg" alt="profile">
                  <p>профиль</p>
              </a>
            </div>
          </nav>
        </div>
      </div>
    
    <header>
        <div class="container">
            <div class="display_flex">
                <div class="logo">
                    <a href="">Knitted*</a>
                </div>
                <div class="search">
                    <input type="text" placeholder="ПОИСК">
                    <button>
                        <img src="./svg/Search.svg" alt="">
                    </button>
                </div>
                <div class="navigation">
                    <a href="">
                        <img src="./svg/User.svg" alt="">
                    </a>
                    <a href="">
                        <img src="./svg/Love.svg" alt="">
                    </a>
                    <a href="">
                        <img src="./svg/korzina.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </header>


    <section class="section1">
            <div class="navigation2">
                <a href="">бренды</a>
                <a href="">обувь</a>
                <a href="">одежда</a>
                <a href="">контакты</a>
            </div>
    </section>

<div class="container2">
     <div class="card">
        <div class="card_item">
            <h1 style="font-size: 36px;">для клиентов</h1>
            <button class="tablinks" onclick="openCity(event, 'question')" id="defaultOpen">вопрос-ответ</button>
            <button class="tablinks" onclick="openCity(event, 'agreement')">договор оферты</button>
            <button class="tablinks" onclick="openCity(event, 'politics')">политика конфиденциальности</button>
            <button class="tablinks" onclick="openCity(event, 'contacs')">контакты</button>
        </div>
        <div class="card_item">
        <div id="question" class="tabcontent">
        <h3>вопрос-ответ</h3>
        <p>London is the capital city of England.</p>
      </div>
      
      <div id="agreement" class="tabcontent">
        <h3>договор оферты</h3>
        <p>Paris is the capital of France.</p> 
      </div>
      
      <div id="politics" class="tabcontent">
        <h3>политика конфиденциальности</h3>
        <p>Tokyo is the capital of Japan.</p>
      </div>

      <div id="contacs" class="tabcontent">
        <h3>контакты</h3>
        <p>телефон: <span>+7 993 777 96 86</span></p>
        <p>почта: <span>knittedone@gmail.com</span></p>
        <p>телеграм: <span>@knittedone</span></p>
      </div>
      </div>
    </div>
</div>



      <script>
        function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
      </script>


</body>
</html>